<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Colin MacRitchie</h1>
    <p>This is my blog app.</p>
    <p>This is the blog app I built with rails in about 30 mins.</p>

  </div>
</div>